{% extends 'ideas/base.html' %}

{% block content %}
    <h2 class="page-title">DevTool Detail</h2>

    <div class="detail-box">
        <h1>{{ devtool.name }}</h1>

        <p><strong>종류:</strong> {{ devtool.kind }}</p>

        <p><strong>개발툴 설명</strong></p>
        <p>{{ devtool.content }}</p>

        <hr>

        <h3>만들 수 있는 SW 목록</h3>

        {% for idea in ideas %}
            <p>
                <a href="{% url 'ideas:idea_detail' idea.id %}">
                    {{ idea.title }}
                </a>
            </p>
        {% empty %}
            <p>이 개발툴을 사용하는 아이디어가 없습니다.</p>
        {% endfor %}

        <div class="button-area">
            <a class="btn danger" href="{% url 'ideas:devtool_delete' devtool.id %}">삭제</a>
            <a class="btn" href="{% url 'ideas:devtool_list' %}">목록</a>
            <a class="btn primary" href="{% url 'ideas:devtool_update' devtool.id %}">수정</a>
        </div>
    </div>
{% endblock %}