<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Django GPT{% endblock %}</title>
    <link rel="stylesheet" href="/static/my_gpt/css/style.css" />
  </head>
  <body>
    <nav class="tabbar">
      <a
        class="nav-link {% if request.resolver_match.url_name == 'sentiment' %}active{% endif %}"
        href="{% url 'my_gpt:sentiment' %}"
        >감정 분석</a
      >
      <a
        class="nav-link {% if request.resolver_match.url_name == 'summarize' %}active{% endif %}"
        href="{% url 'my_gpt:summarize' %}"
        >문서 요약</a
      >
      <a
        class="nav-link {% if request.resolver_match.url_name == 'moderate' %}active{% endif %}"
        href="{% url 'my_gpt:moderate' %}"
        >유해 표현 분석</a
      >
      <a
        class="nav-link {% if request.resolver_match.url_name == 'combo' %}active{% endif %}"
        href="{% url 'my_gpt:combo' %}"
        >복합 분석</a
      >
    </nav>

    <main>{% block content %}{% endblock %}</main>

    {% block extra_js %}{% endblock %}
  </body>
</html>
